
body {
  font-family: 'Inter', sans-serif;
  color: #666666;
  /* background: linear-gradient(90deg, rgba(233,241,240,1) 0%, rgba(179,213,224,1) 47%, rgb(176, 162, 223) 66%, rgb(208, 157, 221) 100%); */
 background-color: #dce2e5;
  font-size: 16px;
  padding-bottom: 5rem;
}

#hidden{
background-color: red;
display: none;
}

.headline {
font-size: 1.25rem;
font-weight: 600;
}

.text--small {
font-size: 0.875rem;
}

a {
color: #606FC7;
font-weight: 600;
}

a:hover {
color: #434190;
}

i {
position: absolute;
padding: 0.75rem;
color: #606FC7;
}

span.icon {
position: absolute;
padding: 0.5rem;
right: 0;
}

.header {
background-color: white;
padding: 1rem;
padding-bottom: 2.5rem;
}

.header__grid {
display: grid;
grid-template-columns: repeat(1, minmax(0, 1fr));
grid-template-rows: repeat(4, minmax(0, 1fr));
gap: 1.5rem;
max-width: 56rem;
}

.header__logo {
height: 4rem;
}

.header__label {
text-transform: uppercase;
display: block;
margin-bottom: 0.5rem;
font-size: 0.875rem;
font-weight: 600;
color: #718096;
}

.content {

padding: 1rem;
width: 100%;
}

.content__grid {
display: grid;
grid-template-columns: repeat(12, minmax(0, 1fr));
grid-template-rows: repeat(3, minmax(0, 1fr));
max-width: 56rem;
column-gap: 1rem;
row-gap: 2.5rem;
padding-top: 1rem;
padding-bottom: 1rem;
}

#imageOptions.content__grid {
grid-template-rows: repeat(2, minmax(0, 0.5fr));
}

.flex {
display: flex;
}

.flex-1 {
flex: 1 1 0%;
}

.relative {
position: relative;
}

.col-6-m3 {
grid-column: span 6 / span 6;
}

.col-12-s6-m4, .col-12-m6, .col-12-m8, .col-12 {
grid-column: span 12 / span 12;
}

.result {
max-width: 56rem;

}

.result__header {
display: flex;
justify-content: space-between;
margin-bottom: 1rem;
}

.divider {
border-width: 1px;
border-color: #cbd5e0;
margin-top: 2.5rem;
margin-bottom: 2.5rem;
height: 0;
}

input:disabled {
background-color: white;
}

.input {
border-width: 1px;
border-color: #cbd5e0;
border-radius: 0.25rem;
height: 2.5rem;
width: 100%;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.input--left {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
margin-right: -1rem;
}

.input__icon {

padding-left: 2.5rem;
padding-right: 2.5rem;
}




.input__label {

margin-bottom: 0.5rem;
display: block;
}

.bttn {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 0.75rem;
padding-right: 0.75rem;
background-color: white;
border-width: 1px;
border-color: #cbd5e0;
margin-right: -0.5rem;
height: 2.5rem;
}

.bttn.fill {
width: 50%;
}

.bttn:focus {
outline: 1px dotted;
}

.bttn:hover {
background-color: #edf2f7;
}

.left {
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}

.right {
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
margin-right: 0;
}

.bttn.active {
background-color: #606FC7;
color: white;
border-width: 1px;
border-color: #606FC7;
}

.bttn__primary {
margin-left: 33.5%;
margin-top: 2%;
background-color: #000000;
color: white;
border-width: 1px;
border-color: #434e8e;
border-radius: 1rem;
font-size: 1.125rem;
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
}

.bttn.active:hover, .bttn__primary:hover {
background-color: #000000;

}

.codeblock {
border-width: 1px;
border-color: #cbd5e0;
border-radius: 0.25rem;
display: block;
padding: 0.75rem;
background-color: white;
}

#urlContainer {
display: none;
}

/* small breakpoint */
@media (min-width: 640px) {
.header {
    padding: 2.5rem;
}
.header__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.header__logo {
    grid-column: span 2 / span 2;
}
.content {
    padding: 2.5rem;
}
.content__grid {
    column-gap: 1rem;
    row-gap: 2.5rem;
}
.col-12-s6-m4 {
    grid-column: span 6 / span 6;
}
}

/* medium breakpoint */
@media (min-width: 768px) {
.header__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
}
.header__logo {
    grid-column: span 1 / span 1;
}
.col-6-m3 {
    grid-column: span 3 / span 3;
}
.col-12-s6-m4 {
    grid-column: span 4 / span 4;
}
.col-12-m6 {
    grid-column: span 6 / span 6;
}
.col-12-m8 {
    grid-column: span 8 / span 8;
}
.bttn {
    padding-left: 1rem;
    padding-right: 1rem;
}
}




/* __________________________________________________ */


.modal {
position:relative;
top: 10rem;
left: 64rem;
background-color: rgb(255, 255, 255);
border-radius: 1em;
box-shadow: 0px 100px 48px -60px rgba(0,0,0,0.1);
/* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
color: rgb(15, 14, 14);
max-width: 330px;
overflow: hidden;
position: relative;
z-index: 1;
transition: background-color 0.3s, color 0.3s;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
 rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.content > *, .modal > * {
padding: 0.875em;
}

.title {
font-size: 1.25em;
font-weight: 600;
line-height: 1.2;
display: flex;
justify-content: center;
}

.message {
line-height: 1.2;
text-align: center;
}

.actions {
display: flex;
align-items: center;
flex-wrap: wrap;
}

.upload-btn {
background-color: transparent;
border: 0.125rem dashed hsla(223,10%,50%,0.4);
flex: 1;
padding: 0.375rem 2rem;
}

.upload-btn:hover {
background-color: hsla(223,10%,60%,0.2);
}

.close {
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(226, 94, 54);
height: 30px;
width: 30px;
border-radius: 50%;
position: absolute;
right: 10px;
top: 10px;
color: #fff;
font-weight: bold;
cursor: pointer;
}

.result {
margin-top: 4px;
background-color: rgb(203, 216, 245);
display: flex;
align-items: center;
position: relative;
border-radius: 1em;
}

.file-uploaded {
font-weight: 300;
}

.file-uploaded::before {
position: absolute;
content: "X";
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(26, 7, 1, 0.212);
height: 30px;
width: 30px;
border-radius: 50%;
right: 10px;
top: 10px;
color: rgb(255, 255, 255);
font-weight: bold;
cursor: pointer;
}

.file-uploaded:hover::before {
background-color: rgba(233, 40, 6, 0.664);
}




.FightImage{
position: absolute;
top: 9.6rem;
left: 15rem;
height: 37rem;

}




@media screen and (max-width: 450px) {
body {
  align-content: center;
  overflow-x: hidden;
}

.FightImage{
position: absolute;
top:1rem;
left: 6rem;
height: 10rem;

}

.modal {
  position:relative;
  top: 8rem;
  left: 2.9rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0px 100px 48px -60px rgba(0,0,0,0.1);
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  color: rgb(15, 14, 14);
  max-width: 20rem;
  max-height: 35rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

}







@media screen and (max-width: 355px) {
body {
    align-content: center;
    overflow-x: hidden;
}

.FightImage{
  position: absolute;
  top:1rem;
  left: 6rem;
  height: 10rem;
  
}

  .modal {
    position:relative;
    top: 8rem;
    left: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0px 100px 48px -60px rgba(0,0,0,0.1);
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    color: rgb(15, 14, 14);
    max-width: 20rem;
    max-height: 34rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
}